    .aside__bar {
        width: 100%;
        height: 100%;
        background-position: center 10rem;
        background-image: url(../img/Cloud-background.png);
        background-size: cover 100%;
        background-repeat: no-repeat;
        display: flex;
        flex-direction: column;
        align-items: center;
        z-index: 0;
    }
