:root {
   --globalback: #100E1D; 
   --bluedark: #1E213A;
   --grayblue: #6E707A;
   --lightgray: #E7E7EB;
   --midgray: #A09FB1;
   --yellowg: #FFEC65;
   --blueg: #3C47E9;

}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;  
} 

body {
  margin: 0;
  padding: 0;
  background-color: var(--globalback);
  font-family: 'Raleway', sans-serif;
  font-size: 16px;
  
}

img {
  max-width: 100%;
}

.material-symbols-rounded {
  font-variation-settings:
    'FILL' 1,
    'wght' 400,
    'GRAD' 0,
    'opsz' 48
}

.footer-text {
  color: white;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  text-align: center;
  margin-top: 15rem;
}




